body, html {
    margin: 0;
    top: 0;
    left: 0;
    padding: 0;
    background-color: rgb(145, 145, 145);
  }
  h1 {
      color: #30ff00;
      text-shadow: 0 0 10px #000;
      margin: 0;
  }
  @media screen and (max-width: 400px) {
    h1 {
      font-size: 3rem;
    }
  }
  @media screen and (min-width: 401px) {
    h1 {
      font-size: 4rem;
    }
  }
  .background-img {
    background-image: url(./Hello.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    color: darkorange;
    text-shadow: 0 0 10px #000;
  }
  .top-h2 {
    margin-top: -100px;
  }
  h2 {
    text-align: center;
    font-size: 40px;
    color: darkorange;
    text-shadow: 0 0 10px #000;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  p {
    color: white;
    font-size: 16px;
  }
  .width {
    max-width: 1525px;
    margin-left: auto;
    margin-right: auto;
  }
  .width-content {
    padding-left: 10px;
    padding-right: 10px;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
  }


  /*img*/
/* .img_div {
  display: block;
  margin: auto;
  text-align: center;
  width: 90vw;
  max-width: 1024px;
} */
.youtube {
  width: 100%;
  aspect-ratio: 16 / 9;
}
.youtube .iframe {
  width: 100%;
  height: 100%;
}
a {
  text-decoration: none;
  color: darkorange;
  text-shadow: 0 0 10px #000;
  font-size: 30px;
}
.a-div {
  text-align: center;
}
